# Core
numpy
pandas
pyyaml
tqdm

# Deep Learning
torch
torchdiffeq

# Transformers & Training
transformers>=4.40.1
datasets>=2.18.0
accelerate>=0.28.0

# Machine Learning
scikit-learn

# Visualization
matplotlib
